@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body {
    color: #ffffff;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Полезно при использовании отрицательных координат */
    position: relative; /* Необходимо для абсолютного позиционирования частей */
}

/* Анимированный градиент */
@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460, #53354a);
    background-size: 300% 300%;
    animation: gradientBackground 15s ease infinite;
}



.logo-mono {
    font-size: 16px;
    position: relative;
    top: 25px;
    font-family: 'Poppins', sans-serif;
    max-width: 20%;
    text-align: right; /* Выравнивание текста по правому краю */
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    padding: 10px;
    border-radius: 10px;
}

.web span {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    display: block;
    padding: 10px;
    transition: transform 0.9s ease-in-out;  /* Анимация для эффекта увеличения */
}

.web span:hover {
    transform: scale(1.2);  /* Увеличение на 10% при наведении */
}

.lotesules {
    display: flex;
    justify-content: space-between; /* Выравнивание объектов по краям с промежутками между ними */
    font-size: 45px;
    text-align: left;
    gap: 10px; /* Расстояние между объектами */
}

.lotesules a:hover i{
	filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.7)) blur(0px);
	transform: scale(2.0);
}

.container{
    
    display: flex;
    justify-content: center;
}

.glass-container{
    
    display: block;
    max-width: 70vw;
    margin-top: 1vh;
    background: rgba(0, 0, 0, 0.56);
    padding: 35px;
    border-radius: 55px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.logo{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
}

.content{
    display: flex;
    width: 100%;
}

.main{
    margin-top: 10vh;
    display: inline-block;
    padding: 20px;
}

.main h2{
    font-size: 35px;
}

.main p{
    font-size: 16px;
    line-height: 23px;
}

button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    border-color: #2668db;
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.7)) blur(0px);
}

.image-wrapper{
    display: flex;
    margin-top: 5vh;
    position: relative;
}

.image-wrapper img{
    max-width: 500px;
}

.attrebute{
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 12px;
}

@media screen and (max-width: 1075px) {
    .content{
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .logo{
        font-size: 22px;
    }
    li.nav-link{
        font-size: 13px;
    }
    .main h2{
        font-size: 28px;
    }
    .main p{
        font-size: 15px;
    }
    button{
        font-size: 13px;
    }
    .image-wrapper img{
        max-width: 400px;
    }
}

@keyframes flyUpRight {
    0%, 0% { transform: translate(0, 0); }
    90%, 100% { transform: translate(100vw, -100vh); }
}

.rocket2 {
    animation: flyUpRight 360s linear; /* Увеличенное время для добавления паузы */
    display: inline-block;
    position: absolute;
}


.rocket:hover {
    transform: scale(1.5) rotate(15deg) translateY(-10px); /* Увеличение, вращение, и перемещение вверх при наведении */
    opacity: 1; /* Полная непрозрачность при наведении */
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.7)) blur(0px); /* Свечение и размытие при наведении */
}



