<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <script defer src="https://kit.fontawesome.com/1f1ce1e187.js" crossorigin="anonymous"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/launch.ico') }}">
	<script defer src="jquery-3.6.3.min.js"></script>
    <title>Личное портфолио</title>
</head>




<body>

    <div class="container">
        <div class="glass-container">
                <div class="logo">Сайт представлен как "Портфолио" 

            <div class="content">
                <div class="main">
                    <h2>Привет 👋,<br>мой друг</h2>
                    <p>
                        Я Иван – Опытный IT специалист со знанием широкого спектра инструментов и технологий. <br>
                        Более 3+ лет опыта в управлении инцидентами, обслуживании серверов и разработке автоматизированных решений для повышения эффективности рабочих процессов. <br>
                        Активно изучаю новые технологии и постоянно развиваю свои навыки в области IT.
                    </p>
                    <button><a href="https://github.com/ismetskoy?tab=repositories">Подробнее о проектах</button></a><br><br>

                    <div class="web">
                        <span>
                            {% for website, status in status_list %}
                            {{ website }} - {{ status }} <br>
                            {% endfor %}
                        </span></div>

                </div>
                
                <div class="image-wrapper">
                    <img src="/static/images/rocket.png" alt="Rocket" class="rocket" />
                  </div>
                  
                  <div class="content">
                    <div class="main">

                        <h2>Инструменты <div class="rocket2">🚀</div></h2>
                        <p>
                            <img src="https://skillicons.dev/icons?i=git,docker,css,vim,discord,windows,openshift" /><br>
                            <img src="https://skillicons.dev/icons?i=flask,github,gitlab,gmail,grafana,sqlite,vscode" /><br>
                            <img src="https://skillicons.dev/icons?i=html,linux,nginx,postgres,postman,py,redhat" /><br>
                            <img src="https://skillicons.dev/icons?i=prometheus" /><br>

                            <h2>Связь 🦄</h2>
                            <ul class="lotesules">
                            <a href="https://github.com/ismetskoy"><i class="fa fa-github"></i></a></li>
                            <a href="https://vk.com/felhat"><i class="fa fa-vk"></i></a></li>
                            <a href="https://t.me/IvanSmec"><i class="fa fa-telegram"></i></a></li>
                            <a href="https://t.me/XaTaProgbot"><i class="fa fa-grav"></i></a></li>
                            
                            </ul>
                        </p>
                        
                    </div>
                </div>
                    

                </div>

                <p style="font: 12px 'Roboto', Arial, sans-serif; ">copyright © 2024 💖</p>	
            </div>
        </div>
        
    </div>
    
</body>

</html>